{{> header}}
{{> navbar}}
{{> sidebar}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Профили ffmpeg:</h1>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                {{#if this.isCreate}}
                <form action="/profiles/create" method="POST" class="d-inline">
                    {{else}}
                    <form action="/profiles/edit" method="POST" class="d-inline">
                        {{/if}}

                        <div class="mb-3">
                            <label for="numberId" class="form-label">название профиля (уникальное)</label>
                            {{#if this.isCreate}}
                            <input type="text" name="name" class="form-control" id="nameId" aria-describedby="nameHelp"
                                value="{{this.profile.name}}">
                            {{else}}
                            <input type="text" disabled name="nameD" class="form-control" id="nameIdD"
                                aria-describedby="nameHelp" value="{{this.profile.name}}">
                            <input type="hidden" name="name" class="form-control" id="nameId"
                                aria-describedby="nameHelp" value="{{this.profile.name}}">
                            {{/if}}
                            <div id="nameHelp" class="form-text">какое-нибудь имя профиля
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="commandId" class="form-label">Путь до команды ffmpeg.</label>
                            <input type="text" name="command" class="form-control" id="commandId"
                                aria-describedby="commandHelp" value="{{this.profile.command}}">
                            <div id="commandHelp" class="form-text">Можно не заполнять. По умолчанию - ffmpeg.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="paramsId" class="form-label">Параметры ffmpeg</label>
                            <textarea name="params" class="form-control" id="paramsId"
                                rows="4">{{this.profile.params}}</textarea>
                            <div id="commandHelp" class="form-text">ВАЖНО! Должны присутствовать маркеры переменных
                                \{{input}} и \{{output}}
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>

                    </form>
                    {{#if this.isCreate}}
                    {{else}}
                    <form class="d-inline" action="/profiles/clone/start" method="POST">
                        <input type="hidden" name="name" id="nameId" value="{{this.profile.name}}">
                        <input type="hidden" name="command" id="commandId" value="{{this.profile.command}}">
                        <input type="hidden" name="params" id="paramsId" value="{{this.profile.params}}">
                        <button type="submit" class="btn btn-success">Клонировать</button>
                    </form>
                    {{/if}}
                    <form class="d-inline" action="/profiles">
                        <button type="submit" class="btn btn-light">отмена</button>
                    </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</main>
{{> footer}}